body{
    width: 70%;
    margin: auto;
}

/*header styles */

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.head{
    font-weight: bolder;
}
.who-we-are{
    font-family: 'Lato', sans-serif;
}

/* roles setting vertically */

.roles{
    writing-mode: vertical-rl;
    font-size: 8px;
    padding-right: 5px;
}
img{
    width: 130px;
    height: 180px;
}
.name{
    font-size: 10px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    padding-bottom: 5px;
}

.img-1{
    display: flex;
    margin-top: 40px;
}
.img-2{
    display: flex;
    margin-top: 80px;
}
.img-3{
    display: flex;
}
.img-4{
    display: flex;
}
.img-5{
    display: flex;
}
.img-6{
    display: flex;
}